@{
    ViewData["Title"] = "Home Page";
}


<head>
    <link rel="stylesheet" href="~/css/Test.css">
</head>

<div class="text-center">
    <h1>Frituur applicatie Merlijn</h1>
    <img src="~/images/Friet.png" />
</div>
